body {
    margin: 0;
    padding: 0;
    font-family: 'Droid Sans', sans-serif;
    font-size: 20px;
    color: #222927;
}

h1 {
    margin: 0.6em 0 0.3em 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    font-size: 45px;
}

h2 {
    font-family: 'Poiret One', cursive;
    font-size: 1.8em;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #229C7D;
}

a:hover {
    border-bottom: 1px solid #222927;
    color: #222927;
}

.wrapper {
    margin: 40px 10%;
    box-sizing: border-box;
}

.header__subtitle{
    font-size: 40%;
    color: #229C7D;
    text-transform: none;
    vertical-align: bottom;
}

.footer {
    margin-top: 40px;
    font-size: 0.7em
}

.footer__title {
    text-transform: uppercase;
    font-size: 1.7em;
    font-family: 'Poiret One', cursive;
}

.footer__p {
    margin: 0.2em 0;
}

.footer__logo:hover {
    border: none;
}

.hero {
    font-size: 1.3em;
}

.demo {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #229C7D;
    color: #fff;
}
.diamond1 {
    position: relative;
    height: 156px;
    padding: 7% 7%;
    background: #222927;
    box-sizing: border-box;
}
.diamond2 {
    height: 100%;
    padding: 13% 13%;
    background: #229C7D;
    box-sizing: border-box;
}
.diamond3 {
    height: 100%;
    padding: 20% 20%;
    background: #2EFFAF;
    box-sizing: border-box;
}
.diamond4 {
    height: 100%;
    background: #C2FCD3;
    box-sizing: border-box;
}
.glitter {
    position: absolute;
    right: 12%;
    top: 18%;
	width: 13px;
	height: 13px;
	background: #EBFAF6;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
}

.actionbar {
    padding: 1em;
    font-size: 0.8em;
    background: #EBFAF6;
}

.actionbar__wrapper {
    margin-top: 0;
    margin-bottom: 0;
}

.button {
    display: block;
    margin: 0.5em 0;
    padding: 0.7em;
    border: 1px solid #229C7D;
    text-decoration: none;
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: #229C7D;
}

.button:hover {
    background: #229C7D;
    color: #EBFAF6;
    border-color: #229C7D;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        margin: 0 auto;
        padding: 0 10px;
    }

    .header {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .actionbar {
        margin-bottom: 40px;
    }

    .footer {
        margin-top: 100px;
        margin-bottom: 60px;
    }

    h1 {
        font-size: 65px;
    }

    .diamond1 {
        height: 260px;
    }
    .glitter {
	    width: 22px;
	    height: 22px;
    }
}
@media only screen and (min-width: 1020px) {
    .header {
        margin-top: 60px;
    }
    
    .footer {
        margin-top: 120px;
        margin-bottom: 80px;
    }

    h1 {
        font-size: 80px;
    }

    .diamond1 {
        height: 290px;
    }
    .glitter {
	    width: 25px;
	    height: 25px;
    }
}

