/*
 *  Emerald
 */
.wrapper {
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid {
  list-style: none;
  margin: 0;
  padding: 0;
}
.grid__item {
  display: inline-block;
  width: 100%;
  text-align: left;
  vertical-align: top;
  direction: ltr;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid {
  margin-right: -3vw;
  margin-left: -3vw;
}
.grid__item {
  display: inline-block;
  padding-right: 3vw;
  padding-left: 3vw;
}
.grid--obv--palm {
  direction: ltr;
}
.grid--rev--palm {
  direction: rtl;
}
.grid--left--palm {
  text-align: left;
}
.grid--right--palm {
  text-align: right;
}
.grid--center--palm {
  text-align: center;
}
.grid--top--palm > .grid__item {
  vertical-align: top;
}
.grid--middle--palm > .grid__item {
  vertical-align: middle;
}
.grid--bottom--palm > .grid__item {
  vertical-align: bottom;
}
.e-8--palm {
  width: 96vw;
}
.e-push-8--palm {
  margin-left: 96vw;
}
.e-pull-8--palm {
  margin-right: 96vw;
}
.e-7--palm {
  width: 84vw;
}
.e-push-7--palm {
  margin-left: 84vw;
}
.e-pull-7--palm {
  margin-right: 84vw;
}
.e-6--palm {
  width: 72vw;
}
.e-push-6--palm {
  margin-left: 72vw;
}
.e-pull-6--palm {
  margin-right: 72vw;
}
.e-5--palm {
  width: 60vw;
}
.e-push-5--palm {
  margin-left: 60vw;
}
.e-pull-5--palm {
  margin-right: 60vw;
}
.e-4--palm {
  width: 48vw;
}
.e-push-4--palm {
  margin-left: 48vw;
}
.e-pull-4--palm {
  margin-right: 48vw;
}
.e-3--palm {
  width: 36vw;
}
.e-push-3--palm {
  margin-left: 36vw;
}
.e-pull-3--palm {
  margin-right: 36vw;
}
.e-2--palm {
  width: 24vw;
}
.e-push-2--palm {
  margin-left: 24vw;
}
.e-pull-2--palm {
  margin-right: 24vw;
}
.e-1--palm {
  width: 12vw;
}
.e-push-1--palm {
  margin-left: 12vw;
}
.e-pull-1--palm {
  margin-right: 12vw;
}
.e-full--palm {
  width: 100%;
}
.e-0--palm {
  display: none;
}
.e-push-0--palm {
  margin-left: 0;
}
.e-pull-0--palm {
  margin-right: 0;
}
.wrapper {
  width: 96vw;
  padding-right: 3vw;
  padding-left: 3vw;
}
@media only screen and (min-width: 768px) {
  .e-16--palm {
    width: 640px;
  }
  .e-push-16--palm {
    margin-left: 640px;
  }
  .e-pull-16--palm {
    margin-right: 640px;
  }
  .e-15--palm {
    width: 600px;
  }
  .e-push-15--palm {
    margin-left: 600px;
  }
  .e-pull-15--palm {
    margin-right: 600px;
  }
  .e-14--palm {
    width: 560px;
  }
  .e-push-14--palm {
    margin-left: 560px;
  }
  .e-pull-14--palm {
    margin-right: 560px;
  }
  .e-13--palm {
    width: 520px;
  }
  .e-push-13--palm {
    margin-left: 520px;
  }
  .e-pull-13--palm {
    margin-right: 520px;
  }
  .e-12--palm {
    width: 480px;
  }
  .e-push-12--palm {
    margin-left: 480px;
  }
  .e-pull-12--palm {
    margin-right: 480px;
  }
  .e-11--palm {
    width: 440px;
  }
  .e-push-11--palm {
    margin-left: 440px;
  }
  .e-pull-11--palm {
    margin-right: 440px;
  }
  .e-10--palm {
    width: 400px;
  }
  .e-push-10--palm {
    margin-left: 400px;
  }
  .e-pull-10--palm {
    margin-right: 400px;
  }
  .e-9--palm {
    width: 360px;
  }
  .e-push-9--palm {
    margin-left: 360px;
  }
  .e-pull-9--palm {
    margin-right: 360px;
  }
  .e-8--palm {
    width: 320px;
  }
  .e-push-8--palm {
    margin-left: 320px;
  }
  .e-pull-8--palm {
    margin-right: 320px;
  }
  .e-7--palm {
    width: 280px;
  }
  .e-push-7--palm {
    margin-left: 280px;
  }
  .e-pull-7--palm {
    margin-right: 280px;
  }
  .e-6--palm {
    width: 240px;
  }
  .e-push-6--palm {
    margin-left: 240px;
  }
  .e-pull-6--palm {
    margin-right: 240px;
  }
  .e-5--palm {
    width: 200px;
  }
  .e-push-5--palm {
    margin-left: 200px;
  }
  .e-pull-5--palm {
    margin-right: 200px;
  }
  .e-4--palm {
    width: 160px;
  }
  .e-push-4--palm {
    margin-left: 160px;
  }
  .e-pull-4--palm {
    margin-right: 160px;
  }
  .e-3--palm {
    width: 120px;
  }
  .e-push-3--palm {
    margin-left: 120px;
  }
  .e-pull-3--palm {
    margin-right: 120px;
  }
  .e-2--palm {
    width: 80px;
  }
  .e-push-2--palm {
    margin-left: 80px;
  }
  .e-pull-2--palm {
    margin-right: 80px;
  }
  .e-1--palm {
    width: 40px;
  }
  .e-push-1--palm {
    margin-left: 40px;
  }
  .e-pull-1--palm {
    margin-right: 40px;
  }
  .e-full--palm {
    width: 100%;
  }
  .e-0--palm {
    display: none;
  }
  .e-push-0--palm {
    margin-left: 0;
  }
  .e-pull-0--palm {
    margin-right: 0;
  }
  .grid {
    margin-right: -10px;
    margin-left: -10px;
  }
  .grid__item {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }
  .grid--obv {
    direction: ltr;
  }
  .grid--rev {
    direction: rtl;
  }
  .grid--left {
    text-align: left;
  }
  .grid--right {
    text-align: right;
  }
  .grid--center {
    text-align: center;
  }
  .grid--top > .grid__item {
    vertical-align: top;
  }
  .grid--middle > .grid__item {
    vertical-align: middle;
  }
  .grid--bottom > .grid__item {
    vertical-align: bottom;
  }
  .e-16 {
    width: 640px;
  }
  .e-push-16 {
    margin-left: 640px;
  }
  .e-pull-16 {
    margin-right: 640px;
  }
  .e-15 {
    width: 600px;
  }
  .e-push-15 {
    margin-left: 600px;
  }
  .e-pull-15 {
    margin-right: 600px;
  }
  .e-14 {
    width: 560px;
  }
  .e-push-14 {
    margin-left: 560px;
  }
  .e-pull-14 {
    margin-right: 560px;
  }
  .e-13 {
    width: 520px;
  }
  .e-push-13 {
    margin-left: 520px;
  }
  .e-pull-13 {
    margin-right: 520px;
  }
  .e-12 {
    width: 480px;
  }
  .e-push-12 {
    margin-left: 480px;
  }
  .e-pull-12 {
    margin-right: 480px;
  }
  .e-11 {
    width: 440px;
  }
  .e-push-11 {
    margin-left: 440px;
  }
  .e-pull-11 {
    margin-right: 440px;
  }
  .e-10 {
    width: 400px;
  }
  .e-push-10 {
    margin-left: 400px;
  }
  .e-pull-10 {
    margin-right: 400px;
  }
  .e-9 {
    width: 360px;
  }
  .e-push-9 {
    margin-left: 360px;
  }
  .e-pull-9 {
    margin-right: 360px;
  }
  .e-8 {
    width: 320px;
  }
  .e-push-8 {
    margin-left: 320px;
  }
  .e-pull-8 {
    margin-right: 320px;
  }
  .e-7 {
    width: 280px;
  }
  .e-push-7 {
    margin-left: 280px;
  }
  .e-pull-7 {
    margin-right: 280px;
  }
  .e-6 {
    width: 240px;
  }
  .e-push-6 {
    margin-left: 240px;
  }
  .e-pull-6 {
    margin-right: 240px;
  }
  .e-5 {
    width: 200px;
  }
  .e-push-5 {
    margin-left: 200px;
  }
  .e-pull-5 {
    margin-right: 200px;
  }
  .e-4 {
    width: 160px;
  }
  .e-push-4 {
    margin-left: 160px;
  }
  .e-pull-4 {
    margin-right: 160px;
  }
  .e-3 {
    width: 120px;
  }
  .e-push-3 {
    margin-left: 120px;
  }
  .e-pull-3 {
    margin-right: 120px;
  }
  .e-2 {
    width: 80px;
  }
  .e-push-2 {
    margin-left: 80px;
  }
  .e-pull-2 {
    margin-right: 80px;
  }
  .e-1 {
    width: 40px;
  }
  .e-push-1 {
    margin-left: 40px;
  }
  .e-pull-1 {
    margin-right: 40px;
  }
  .e-full {
    width: 100%;
  }
  .e-0 {
    display: none;
  }
  .e-push-0 {
    margin-left: 0;
  }
  .e-pull-0 {
    margin-right: 0;
  }
  .wrapper {
    width: 640px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media only screen and (min-width: 1020px) {
  .grid {
    margin-right: -10px;
    margin-left: -10px;
  }
  .grid__item {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }
  .grid--obv--desk {
    direction: ltr;
  }
  .grid--rev--desk {
    direction: rtl;
  }
  .grid--left--desk {
    text-align: left;
  }
  .grid--right--desk {
    text-align: right;
  }
  .grid--center--desk {
    text-align: center;
  }
  .grid--top--desk > .grid__item {
    vertical-align: top;
  }
  .grid--middle--desk > .grid__item {
    vertical-align: middle;
  }
  .grid--bottom--desk > .grid__item {
    vertical-align: bottom;
  }
  .e-25--desk {
    width: 1000px;
  }
  .e-push-25--desk {
    margin-left: 1000px;
  }
  .e-pull-25--desk {
    margin-right: 1000px;
  }
  .e-24--desk {
    width: 960px;
  }
  .e-push-24--desk {
    margin-left: 960px;
  }
  .e-pull-24--desk {
    margin-right: 960px;
  }
  .e-23--desk {
    width: 920px;
  }
  .e-push-23--desk {
    margin-left: 920px;
  }
  .e-pull-23--desk {
    margin-right: 920px;
  }
  .e-22--desk {
    width: 880px;
  }
  .e-push-22--desk {
    margin-left: 880px;
  }
  .e-pull-22--desk {
    margin-right: 880px;
  }
  .e-21--desk {
    width: 840px;
  }
  .e-push-21--desk {
    margin-left: 840px;
  }
  .e-pull-21--desk {
    margin-right: 840px;
  }
  .e-20--desk {
    width: 800px;
  }
  .e-push-20--desk {
    margin-left: 800px;
  }
  .e-pull-20--desk {
    margin-right: 800px;
  }
  .e-19--desk {
    width: 760px;
  }
  .e-push-19--desk {
    margin-left: 760px;
  }
  .e-pull-19--desk {
    margin-right: 760px;
  }
  .e-18--desk {
    width: 720px;
  }
  .e-push-18--desk {
    margin-left: 720px;
  }
  .e-pull-18--desk {
    margin-right: 720px;
  }
  .e-17--desk {
    width: 680px;
  }
  .e-push-17--desk {
    margin-left: 680px;
  }
  .e-pull-17--desk {
    margin-right: 680px;
  }
  .e-16--desk {
    width: 640px;
  }
  .e-push-16--desk {
    margin-left: 640px;
  }
  .e-pull-16--desk {
    margin-right: 640px;
  }
  .e-15--desk {
    width: 600px;
  }
  .e-push-15--desk {
    margin-left: 600px;
  }
  .e-pull-15--desk {
    margin-right: 600px;
  }
  .e-14--desk {
    width: 560px;
  }
  .e-push-14--desk {
    margin-left: 560px;
  }
  .e-pull-14--desk {
    margin-right: 560px;
  }
  .e-13--desk {
    width: 520px;
  }
  .e-push-13--desk {
    margin-left: 520px;
  }
  .e-pull-13--desk {
    margin-right: 520px;
  }
  .e-12--desk {
    width: 480px;
  }
  .e-push-12--desk {
    margin-left: 480px;
  }
  .e-pull-12--desk {
    margin-right: 480px;
  }
  .e-11--desk {
    width: 440px;
  }
  .e-push-11--desk {
    margin-left: 440px;
  }
  .e-pull-11--desk {
    margin-right: 440px;
  }
  .e-10--desk {
    width: 400px;
  }
  .e-push-10--desk {
    margin-left: 400px;
  }
  .e-pull-10--desk {
    margin-right: 400px;
  }
  .e-9--desk {
    width: 360px;
  }
  .e-push-9--desk {
    margin-left: 360px;
  }
  .e-pull-9--desk {
    margin-right: 360px;
  }
  .e-8--desk {
    width: 320px;
  }
  .e-push-8--desk {
    margin-left: 320px;
  }
  .e-pull-8--desk {
    margin-right: 320px;
  }
  .e-7--desk {
    width: 280px;
  }
  .e-push-7--desk {
    margin-left: 280px;
  }
  .e-pull-7--desk {
    margin-right: 280px;
  }
  .e-6--desk {
    width: 240px;
  }
  .e-push-6--desk {
    margin-left: 240px;
  }
  .e-pull-6--desk {
    margin-right: 240px;
  }
  .e-5--desk {
    width: 200px;
  }
  .e-push-5--desk {
    margin-left: 200px;
  }
  .e-pull-5--desk {
    margin-right: 200px;
  }
  .e-4--desk {
    width: 160px;
  }
  .e-push-4--desk {
    margin-left: 160px;
  }
  .e-pull-4--desk {
    margin-right: 160px;
  }
  .e-3--desk {
    width: 120px;
  }
  .e-push-3--desk {
    margin-left: 120px;
  }
  .e-pull-3--desk {
    margin-right: 120px;
  }
  .e-2--desk {
    width: 80px;
  }
  .e-push-2--desk {
    margin-left: 80px;
  }
  .e-pull-2--desk {
    margin-right: 80px;
  }
  .e-1--desk {
    width: 40px;
  }
  .e-push-1--desk {
    margin-left: 40px;
  }
  .e-pull-1--desk {
    margin-right: 40px;
  }
  .e-full--desk {
    width: 100%;
  }
  .e-0--desk {
    display: none;
  }
  .e-push-0--desk {
    margin-left: 0;
  }
  .e-pull-0--desk {
    margin-right: 0;
  }
  .wrapper {
    width: 1000px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.visible--palm {
  display: block;
}
.visible--lap {
  display: none;
}
.visible--desk {
  display: none;
}
.hidden--palm {
  display: none;
}
.hidden--lap {
  display: block;
}
.hidden--desk {
  display: block;
}
@media only screen and (min-width: 768px) {
  .visible--palm {
    display: none;
  }
  .visible--lap {
    display: block;
  }
  .visible--desk {
    display: none;
  }
  .hidden--palm {
    display: block;
  }
  .hidden--lap {
    display: none;
  }
  .hidden--desk {
    display: block;
  }
}
@media only screen and (min-width: 1020px) {
  .visible--palm {
    display: none;
  }
  .visible--lap {
    display: none;
  }
  .visible--desk {
    display: block;
  }
  .hidden--palm {
    display: block;
  }
  .hidden--lap {
    display: block;
  }
  .hidden--desk {
    display: none;
  }
}
