// ==========================================================================
// Columns
// ==========================================================================
// Provides:
//     .addColumns (@grid-size);
//     .updateColumns (@grid-from; @grid-to);
// ==========================================================================

//
// Recursively creates classes defining individual column sizes, pushes, and
// pulls. The actual widths are counted according to @column-width and
// @gutter-width. Going down from @index (the number called with) to zero.
// Appends the @modifier string to the class name.
//
// Private - do not use from outside this file.
// --------------------------------------------------------------------------
.buildColumns (@index; @column-width; @gutter-width; @modifier) when (@index > 0) {

	  // Grid item class wide @index columns 
    .e-@{index}@{modifier} {
		    width: (@index * (@column-width + @gutter-width));
	  }

	  // Create space of @index columns on the left
    .e-push-@{index}@{modifier} {
		    margin-left: (@index * (@column-width + @gutter-width));
	  }

	  // Create space of @index columns on the right
    .e-pull-@{index}@{modifier} {
		    margin-right: (@index * (@column-width + @gutter-width));
	  }

    // Call itself with the smaller index
	  .buildColumns((@index - 1); @column-width; @gutter-width; @modifier);
}

// The final recursion step
.buildColumns (0; @column-width ; @gutter-width; @modifier) {

    // Reset to be expansible
    .e-full@{modifier} {
        width: 100%;
    }

    // Reset to no-pushing
    .e-push-0@{modifier} {
        margin-left: 0;
    }

    // Reset to no-pulling
    .e-pull-0@{modifier} {
        margin-right: 0;
    }
}

//
// Interface for easier and more logical adding grid item classes.
// This - right down here - is the meat of this grid system.
// --------------------------------------------------------------------------
.addColumns (@grid-size) {

    // Prepare the data
    @columns-count: extract(@grid-size, 1);
    @column-width: extract(@grid-size, 2);
    @gutter-width: extract(@grid-size, 3);
    @modifier: extract(@grid-size, 4);

    // Calcute the width of the wrapper
    .wrapper {
        width: (@columns-count * (@column-width + @gutter-width));
    }
    // Call the creation of columns
    .buildColumns (@columns-count; @column-width; @gutter-width; @modifier);

    // Hide on this device (and this device only!)
    .e-0@{modifier} {
        display: none;
    }
}

// 
// Updating, similary to adding, is just an interface to .buildColumns().
// It generates classes to overwrite previously defined in the @grid-from,
// from which it takes the number of columns and the modifier, with widths
// of column and gutter defined in the @grid-to.
// This enables us to inherit the grid sizes of elements to the next device
// (or devices when used multiple times).
// --------------------------------------------------------------------------
.updateColumns (@grid-from; @grid-to) {

    @columns-count: extract(@grid-from, 1);
    @column-width: extract(@grid-to, 2);
    @gutter-width: extract(@grid-to, 3);
    @modifier: extract(@grid-from, 4);

    // Call the creation of columns
    .buildColumns (@columns-count; @column-width; @gutter-width; @modifier); 
}
