/*
 *  Emerald
 */

@import "variables.less";
@import "columns.less";
@import "grid.less";

.grid {
    .createGrid(@gutter-width-palm);
    &__item {
        .createGridItem(@gutter-width-palm);
    }
}

body {
    margin: 15px 10%;
}

.createColumns (@columns-count-palm,
                @column-width-palm,
                @gutter-width-palm,
                ~"--palm");

@media only screen and (min-width: @screen-lap) {
    body {
        width: 620px;
        margin-left: auto;
        margin-right: auto;
    }

    .createColumns (@columns-count-lap,
                    @column-width-lap,
                    @gutter-width-lap,
                    ~"" );
}

@media only screen and (min-width: @screen-desk) {
    body {
        width: 980px;
    }

    .createColumns (@columns-count-desk,
                    @column-width-desk,
                    @gutter-width-desk,
                    ~"--desk");
}


.uhd() when (@generate-uhd) {
    @media only screen and (min-width: @screen-uhd) {
        body {
            width: 1225px;
        }
        .grid {
            .createGrid(@gutter-width-uhd);
            &__item {
                .createGridItem(@gutter-width-uhd);
            }
        }

        .createColumns (@columns-count-lap,
                        @column-width-uhd,
                        @gutter-width-uhd,
                        ~"");
        .createColumns (@columns-count-desk,
                        @column-width-uhd,
                        @gutter-width-uhd,
                        ~"--desk");
        .createColumns (@columns-count-uhd,
                        @column-width-uhd,
                        @gutter-width-uhd,
                        ~"--uhd");
    }
}

.uhd();
