// ==========================================================================
// Grid
// ==========================================================================
// Provides:
//     .initializeGrid ();
//     .updateGrid (@grid-size);
//     .gridMods (@grid-size);
// ==========================================================================

//
// In the grid initialization we set the rules that are not to be overwritten
// in the stylesheet, which gives them a special standing.
// The grid takes advantage of behaviour of inline-block elements in the
// browser. It is convenient to set box-sizing to border-box to some classes
// because we operate with their width and padding in the next.
// If not overwritten with a grid class a grid item has a full width (1).
// With the same principle the grid is by default aligned to the left (2),
// top (3) and following the order as in the markup (4).
// --------------------------------------------------------------------------
.initializeGrid () {

    .wrapper {
        margin-right: auto;
        margin-left: auto;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .grid {
        list-style: none;
        margin: 0;
        padding: 0;

        &__item {
            display: inline-block;
            width: 100%;                    // (1)
            text-align: left;               // (2)
            vertical-align: top;            // (3)
            direction: ltr;                 // (4)
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
        }
    }
}

//
// The grid is expected to change at many breakpoints. At each time call this
// to recalculate the correct margin and padding.
// --------------------------------------------------------------------------
.updateGrid (@grid-size) {

    @gutter-width: extract(@grid-size, 3);

    .grid {
        margin-right: (@gutter-width / -2);
        margin-left: (@gutter-width / -2);
        &__item {
            display: inline-block;
            padding-right: (@gutter-width / 2);
            padding-left: (@gutter-width / 2);
        }
    }

    .wrapper {
        padding-right: (@gutter-width / 2);
        padding-left: (@gutter-width / 2);
    }
}

//
// All special grid features, or as we call them - modifications, can be set
// or reset to the default at any device independently.
// --------------------------------------------------------------------------
.modsOfGrid (@grid-size) {

    @modifier: extract(@grid-size, 4);

    .grid {
        // Obverse
        &--obv@{modifier} {
            direction: ltr;
        }

        // Reverse
        &--rev@{modifier} {
            direction: rtl;
        }

        // Left
        &--left@{modifier} {
            text-align: left;
        }

        // Right
        &--right@{modifier} {
            text-align: right;
        }

        // Center
        &--center@{modifier} {
            text-align: center;
        }

        // Top
        &--top@{modifier} {
            > .grid__item {
                vertical-align: top;
            }
        }

        // Middle
        &--middle@{modifier} {
            > .grid__item {
                vertical-align: middle;
            }
        }

        // Bottom
        &--bottom@{modifier} {
            > .grid__item {
                vertical-align: bottom;
            }
        }

    }
}

