// For each device size (palm, lap, desk) specify this parametres
// @screen-*            Viewport breakpoint
// @columns-count-*     Number of grid sizes to generate
// @column-width-*      Single column width
// @gutter-width-*      Width of the gutter between columns

// As Emerald is mobile-first no @screen-palm is needed
@columns-count-palm: 8;
@column-width-palm: 6vw;
@gutter-width-palm: 6vw;

@screen-lap: 768px;
@columns-count-lap: 16;
@column-width-lap: 20px;
@gutter-width-lap: 20px;

@screen-desk: 1020px;
@columns-count-desk: 25;
@column-width-desk: 20px;
@gutter-width-desk: 20px;
